<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow mb-5 bg-body rounded">
                <div class="card-body mx-auto">
                    <form action = "/auth/validator" method = "POST">
                        <div class="form-group">
                            <label for="usuario">Usuario:</label>
                            <div></div>
                            <input type="text" class="from-control" name="userName" placeholder="Ingresa un usuario" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <div></div>
                            <input type="password" class="from-control" name="password" placeholder="Ingresa una contraseña">
                        </div>
                        <div class="form-group">
                            <button name="success" value="1" class="btn btn-success btn-block">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <p class="lead">
                <h3 class="text-center">Proceso de registro</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus beatae, consectetur dolor dolore
                    labore laudantium maiores necessitatibus perferendis praesentium quam recusandae, rem reprehenderit
                    similique sint, ut veniam voluptatem voluptates!
                </div>
                <div>Eos illo laborum neque officiis provident quaerat quis quisquam tenetur, velit voluptatibus? Accusamus
                    atque autem consequuntur hic ipsa labore minima praesentium quaerat quasi quo, quos rem sint unde
                    veritatis voluptate!
                </div>
                <div>Autem culpa eveniet expedita maxime? Aspernatur deserunt dolore dolorum fugit iure laudantium, placeat
                    porro sed sit tenetur. Assumenda beatae cumque deserunt ducimus eligendi ipsam laborum, natus, quaerat
                    quo repellat, unde!
                </div>
                <div>Accusantium aliquid amet aspernatur aut deserunt ex illo inventore magnam magni molestias, mollitia
                    odio quae quas quidem quo sunt totam. Aliquid dolorem ea explicabo iste nisi, nostrum numquam quia
                    reiciendis!
                </div>
            </p>
        </div>
    </div>
</div>