<div class="container">
    <div class="col-md-4 shadow mb-5 bg-body rounded mx-auto">
        <div class="card">
            <div class="card-header text-center">
                Datos de Usuario
            </div>
            <div class="card-body p-4 mx-auto">
                <form action = "" method = "POST">
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="course" placeholder="Nombre del curso" autofocus>
                    </div>
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="yearsAssisted" placeholder="Duración del curso">
                    </div>
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="reason" placeholder="Motivo del curso">
                    </div>
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="kind" placeholder="Tipo del curso">
                    </div>
                    <div class="form-group p-2">
                        <label for="correo">Fecha:</label>
                        <input type="date" class="from-control" name="date" placeholder="Fecha del curso">
                    </div>
                    <div class="form-group p-2">
                        <button name="retry" value="-1" class="btn btn-danger btn-block">Atrás</button>
                        <button name="success" value="1" class="btn btn-success btn-block">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>