<div class="container">
    <div class="col-md-4 shadow mb-5 bg-body rounded mx-auto">
        <div class="card">
            <div class="card-header text-center">
                Datos de Usuario
            </div>
            <div class="card-body p-4 mx-auto">
                <form action = "" method = "POST">
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="previousInstitution" placeholder="Institución de origen" autofocus>
                    </div>
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="countryOFInstitution" placeholder="País de la institución">
                    </div>
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="postgraduateCareer" placeholder="Carrera de posgrado">
                    </div>
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="title" placeholder="Titulo de posgrado">
                    </div>
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="professionalExperience" placeholder="Experiencia laboral">
                    </div>
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="teachingExperience" placeholder="Experiencia de Docente">
                    </div>
                    <div class="form-group p-2">
                        <button name="retry" value="-1" class="btn btn-danger btn-block">Atrás</button>
                        <button name="success" value="1" class="btn btn-success btn-block">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>