<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow mb-5 bg-body rounded">
                <div class="card-header text-center">
                    Registrando usuario
                </div>
                <div class="card-body p-4 mx-auto">
                    <form action="" method="POST">
                        <div class="form-group p-2">
                            <input type="text" name = "userName" id="usuario" placeholder="Usuario" autofocus>
                        </div>
                        <div class="form-group p-2">
                            <input type="email" name = "email" id="usuario" placeholder="Correo">
                        </div>
                        <div class="form-group p-2">
                            <input type="password" name = "password" id="usuario" placeholder="Contraseña">
                        </div>
                        <div class="form-group p-2">
                            <input type="text" name = "curp" id="usuario" placeholder="CURP">
                        </div>
                        <div class="form-group p-2">
                            <button name="retry" value="-1" class="btn btn-danger btn-block">Atrás</button>
                            <button name="success" value="1" class="btn btn-success btn-block">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 bg-body rounded">
            <p class="lead">
                <h3 class="text-center">Proceso de registro</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae blanditiis debitis dicta explicabo
                    harum id modi natus numquam placeat porro provident quam qui quod, reprehenderit saepe similique tempora
                    ut. Ratione?
                </div>
                <div>Ab architecto, aspernatur at beatae delectus ex in incidunt maiores, necessitatibus nulla odio officiis
                    omnis optio pariatur praesentium quae qui quos sapiente soluta unde ut vero voluptatum! Eos, obcaecati
                    odit.
                </div>
                <div>Cupiditate est illum minima numquam odio officia perspiciatis quasi quibusdam sed ut. Ad atque eligendi
                    eos itaque laudantium officia optio temporibus! Accusantium aliquam distinctio dolore ipsum iste natus
                    non nostrum.
                </div>
            </p>
        </div>
    </div>
</div>
