<div class="container">
    <div class="col-md-4 shadow mb-5 bg-body rounded mx-auto">
        <div class="card">
            <div class="card-header text-center">
                Datos del usuario
            </div>
            <div class="card-body p-4 mx-auto">
                <form action = "" method = "POST">
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="name" placeholder="Ingresa tus nombres" autofocus>
                    </div>
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="lastName" placeholder="Ingresa tus apellidos">
                    </div>
                    <div class="form-group p-2">
                        <input type="date" class="from-control" name="birthDate" placeholder="Fecha de nacimiento">
                    </div>
                    <div class="form-group p-2">
                        <button name="retry" value="-1" class="btn btn-danger btn-block">Atrás</button>
                        <button name="success" value="1" class="btn btn-success btn-block">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>