<div class="container">
    <div class="col-md-4 shadow mb-5 bg-body rounded mx-auto">
        <div class="card">
            <div class="card-body p-4 mx-auto">
                <form action = "" method = "POST">
                    <div class="form-group">
                        <label for="titulo">Título profesional:</label>
                        <input type="file" id="titulo">
                    </div>
                    <div class="form-group">
                        <label for="cedulaProf">Cédula Profesional:</label>
                        <input type="file" id="cedulaProf">
                    </div>
                    <div class="form-group">
                        <label for="diplomaMaestria">Diploma Maestría:</label>
                        <input type="file" id="diplomaMaestria">
                    </div>
                    <div class="form-group">
                        <label for="cedulaMestria">Cédula Maestria:</label>
                        <input type="file" id="cedulaMestria">
                    </div>
                    <div class="form-group">
                        <label for="actanacimiento">Acta de Nacimiento:</label>
                        <input type="file" id="actanacimiento">
                    </div>
                    <div class="form-group">
                        <label for="cv">CV:</label>
                        <input type="file" id="cv">
                    </div>
                    <div class="form-group">
                        <label for="curp">Curp:</label>
                        <input type="file" id="curp">
                    </div>
                    <div class="form-group">
                        <label for="solicitudFirm">Solicitud Firmada:</label>
                        <input type="file" id="solicitudFirm">
                    </div>
                    <div class="form-group">
                        <label for="trabajoInvestigacion">Trabajo de investigación:</label>
                        <input type="file" id="trabajoInvestigacion">
                    </div>
                    <div class="form-group">
                        <label for="identOficial">Identificación Oficial:</label>
                        <input type="file" id="identOficial">
                    </div>
                    <div class="form-group">
                        <button name="retry" value="-1" class="btn btn-danger btn-block">Atrás</button>
                        <button name="success" value="1" class="btn btn-success btn-block">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>