<div class="container">
    <div class="col-md-4 shadow mb-5 bg-body rounded mx-auto">
        <div class="card">
            <div class="card-header text-center">
                Datos del usuario
            </div>
            <div class="card-body p-4 mx-auto">
                <form action = "" method = "POST">
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="birthPlace" placeholder="Lugar de nacimiento" autofocus>
                    </div>
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="address" placeholder="Dirección">
                    </div>
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="numberPhone" placeholder="Telefono">
                    </div>
                    <div class="form-group p-2">
                        <input type="text" class="from-control" name="maritalStatus" placeholder="Estatus Marital">
                    </div>
                    <div class="form-group p-2">
                        <input type="email" class="from-control" name="skypeAccount" placeholder="Skype">
                    </div>
                    <div class="form-group p-2">
                        <button name="retry" value="-1" class="btn btn-danger btn-block">Atrás</button>
                        <button name="success" value="1" class="btn btn-success btn-block">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>