<div class="container">
    <lu class="nav" style = "margin-bottom: 0px !important;">
        <li class="nav-item">
            <img src="/img/web_logo.png">
            <a href="https://www.cicata.ipn.mx">&nbsp;Visita nuestra página oficial</a>
            <div></div>
            <img src="/img/ubicacion_logo.png">
            <label> &nbsp; Calz Legaria 694, Col. Irrigación, Miguel Hidalgo, 11500 Ciudad de México, CDMX</label>
            <div></div>
            <img src="/img/telefono_logo.png">
            <label>&nbsp;55 5729 6000</label>
        </li>
        <li class="nav-item ml-left">
            <img src="/img/cicata_logo.png" alt="cicata_logo">
        </li>
    </lu>
</div>
